{% extends 'extra/layout.html'%}

{% block barra %}
{% endblock barra %}

{%block content%}

<h1>Cuenta Empleado</h1>
<hr>
<ul>
    <h2 class="username">Modificar direccion de un cliente</h2>
    <table class="table table-sm">
        {% for direccion in direcciones %}
        <tr>
            <td>Id usuario:{{direccion.user}}</td>
            <td><a class="btn btn-primary btn-info" href="{% url 'modificardireccion' pk=direccion.id %}">Modificar Direccion</a></td>
        </tr>
        {% endfor %}   
</ul>
{% endblock %}