{% extends 'extra/layout.html'%}

{% block barra %}
{% endblock barra %}

{%block content%}

<h1>Cuenta Empleado</h1>
<hr>
<ul>
    <h2 class="username">Modificar direccion de un cliente</h2>
    <table class="table table-sm">
        {% for cliente in clientes %}
        <tr>
            <td>Id usuario:{{cliente.user_id}}</td>
            <td><a class="btn btn-primary btn-info" href="{% url 'direccionesxcliente' pk=user.id %}">Modificar Direccion</a></td>
        </tr>
        {% endfor %}   
</ul>
{% endblock %}